<h1>Future Plans:</h1>
<p>
  After the initial implementation of the program at Talawanda High School, we
  will analyze our successes and our short-comings to determine how we can
  improve the design of the program.   Following our analysis and after making
  the appropriate adjustments to the spearhead program at Talawanda, we will
  then provide a guide to other University Students who are  seeking to make a
  difference in their communities as well.
</p>
<p>
  <b>Want to know more about starting your own UASP in you community?</b><br/>
  Contact an Expansion Representative at uaspexpansion@gmail.com
</p>
<span style="margin-left:5cm;">
<%=image_tag("image4271.gif", :size => "600x200")%></span>